@import '../main-styles.css';

section .grid-container {
  display: grid;
  grid-gap: 1rem; /* espacio entre los ítems */
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  padding: 1rem;
}

section .grid-container .grid-item {
  aspect-ratio: 1 / 1; /* asegura que sea cuadrado */
  width: 100%;         /* ocupa todo el ancho de la celda */
  background-color: #00cc99;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: relative;
}

section .grid-container .grid-item:hover {
  transform: translateY(-10px);
  transition: .3s;
  }
section .grid-container .grid-item:hover > .grid-item-img{
  transition: .3s;
opacity: 0;
}


.grid-item .grid-item-img{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  opacity: 1;
}
.nodisponible{
  filter: grayscale(1);
}
.grid-item-content{
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid-item-content p{
  padding: 0;
  margin: 0;
}
.grid-item-content .mini-image{
  height: 120px;
  margin: 0 auto;

}







.grid-item .grid-item-button{
  background-color: var(--naranjaDELlogo);
  border: 2px solid var(--naranjaDELlogo);
  outline: none;
  border-radius: 10px;
  font-weight: 400;
  z-index: 1;

  position: absolute;
  bottom: -0.5rem;  /* separación del borde inferior */
  right: -0.5rem;   /* separación del borde derecho */
  /*left: 93px;
  top: 158px queda bien pero no es lo que busco*/
}
.grid-item .grid-item-button:hover{
  color: black;
  outline: none;
  border-radius: 10px;
  font-weight: 400;
}








