@import '../../src/main-styles.css';

.mockobject{/* 
    position: fixed;
    z-index: 10;
    top: 0; */
    color: white;
    margin: auto;
    padding: 15px;
    /* background-color: rgba(0, 0, 0, .5); */
    width: 90%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mockobject-button{
    outline: none;
    border: 2px solid var(--verdeDELlogo);
    border-radius: 50px;
    padding: 5px 8px;
    margin-bottom: 5px;
    background-color: var(--verdeDELlogo);
    color: white;
    font-size: 18px;
    display: block;
}







.mockobject-content{
    margin: auto;
    padding: 10px;
    /* background-color: rgba(0, 0, 0, .8); */
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
/*
.mockobject-info{
    background-color: red;
    width: 45%;
}
.mockobject-images{
    display: flex;
    width: 45%;
}
.mockobject-images img{
    width: 200px;
    height: 200px;
    object-position: center;
}
    */

    .mockobject-content .mockimage-container{
        border-radius: 8px;
        width: 400px;
        height: 210px;
    }
    .mockimage-container img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    /* .mockobject-content img:hover{
        object-position:unset;
        position: relative;
        transform: translateY(-30%);
        width: 100%;
        max-width: 500px;
        height: auto;
        transition: 1s;
    } */
     .mockimage-container:hover >  img{
        object-fit: contain;
        position: relative;
        transform: scale(2);
        bottom: 150px;
        transition: .5s;
     }
     